.info__container {
  width: 80%;
  height: 80%;
  margin-inline: auto;
  font-family: var(--ff-numbers);
  font-size: 2rem;
}

.info__container ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.info__container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.li__title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.li__title span {
  font-weight: var(--fw-bold);
}

.info__dot {
  width: 2rem;
  height: 2rem;
  background-color: green;
  border-radius: 999px;
}

.dot1 {
  background-color: #d20000;
}
.dot2 {
  background-color: #ff9505;
}
.dot3 {
  background-color: #ffb627;
}
.dot4 {
  background-color: #ffc971;
}
.dot5 {
  background-color: #0fa3b1;
}
.dot6 {
  background-color: #002d5f;
}
