body {
  display: grid;
  place-content: center;
  background-color: var(--clr-neutral-800);
}

/* main {
  display: grid;
  grid-template-columns: 150px repeat(2, 1fr);
  grid-template-rows: 200px auto auto;
  background-color: var(--clr-neutral-100);
  min-height: 100dvh;
  min-width: 100dvw;
  border-radius: 50px;
  justify-items: center;
  align-items: center;
  overflow: hidden;
} */

/* h1 {
  letter-spacing: 4px;
  font-weight: var(--fw-bolder);
  font-family: var(--ff-numbers);
} */

/* p {
  font-size: 14rem;
  padding-inline: 2rem;
  font-weight: var(--fw-bolder);
} */

/* h2 {
  writing-mode: vertical-lr;
  font-size: 3.6rem;
  font-weight: var(--fw-bolder);
  text-orientation: upright;
  color: var(--clr-neutral-900);
  font-family: var(--ff-numbers);
} */

/* img {
  width: 70%;
} */

/* .done-number {
  font-size: 15rem;
  padding-inline: 2rem;
  font-weight: var(--fw-bolder);
} */

/* .header-wrapper,
.second-wrapper {
  display: contents;
} */

/* .header-wrapper > .grid-item {
  background-color: var(--clr-primary);
  box-shadow: 0px 0px 7px var(--clr-primary);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 5.5rem;
  font-weight: var(--fw-bolder);
} */

/* .header-item-first {
  border-radius: 0 0 0 50px;
}

.header-item-last {
  border-radius: 0 0 50px 0;
} */

/* .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .second-wrapper > .grid-item {
  border-bottom: 2px solid rgba(90, 90, 90, 0.2);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-wrapper-first {
  border-radius: 0 0 0 50px;
}

.second-wrapper-second {
  border-radius: 0 0 50px 0;
} */
