@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .header-item {
    @apply flex h-full w-full items-center justify-center overflow-hidden bg-amPrimary font-extrabold text-white shadow lg:text-5xl 2xl:text-[5.5rem];
  }

  .grid-item {
    @apply flex h-full w-full items-center justify-center;
  }

  .btn-active {
    @apply flex h-[60px] min-w-[30%] items-center justify-center rounded-full bg-amPrimary text-white max-md:w-full 2xl:h-[80px] 2xl:w-[30%];
  }

  .btn-unactive {
    @apply flex min-w-[30%] items-center justify-center rounded-full border-[2px] border-gray-300 bg-transparent text-gray-300 transition-all duration-200  hover:border-amPrimary hover:text-amPrimary max-md:w-full 2xl:h-[80px] 2xl:w-[30%];
  }
  .graph-icon {
    @apply h-8 w-6 transition-all duration-200;
  }
  .graph-number_div {
    @apply absolute top-1 ml-8 flex items-center font-bold transition-all duration-200 max-2xl:top-3 max-xl:top-2 max-lg:top-1 max-md:top-0;
  }
  .number-counter {
    @apply lg:text-[10rem] 2xl:text-[15rem];
  }
  .number-counter-2 {
    @apply lg:text-[10rem] 2xl:text-[14rem];
  }
}

:root {
  --ff-regular: "Inter", sans-serif;
  --ff-numbers: "Lato", sans-serif;
  --ff-numbers-secondary: "Fjalla One", sans-serif;

  --fs-normal: 1rem;
  --fs-large: 1.3rem;
  --fs-larger: 1.75rem;
  --fs-small: 0.875rem;

  --fw-normal: 400;
  --fw-bold: 700;
  --fw-bolder: 900;

  --clr-primary: #002d5f;
  --clr-accent: #d20000;
  --clr-neutral-100: #fdfdfd;
  --clr-neutral-700: #f5f5f5;
  --clr-neutral-800: black;
  --clr-neutral-900: #5a5a5a;
  --clr-text: #000;
  --clr-bg: #fdfdfd;
  --clr-container: #f6eef4;
}

/* CSS reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  scroll-behavior: smooth;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-numbers);
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* .dark-theme {
  --clr-primary: #284170;
  --clr-accent: #d20000;
  --clr-neutral-100: #14151a;
  --clr-neutral-700: #8b8b8b;
  --clr-neutral-800: black;
  --clr-neutral-900: #8c8d90;
  --clr-text: white;
  --clr-bg: #fdfdfd;
  --clr-container: #f6eef4;
}

.dark-theme p {
  color: var(--clr-bg);
} */

.menu-item:last-child {
  border-bottom-right-radius: 2rem;
}
