.progress-bar-fill {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateX(-75%);
  border-radius: 999px;
  background-color: #2ecc71;
  transition: width 0.5 ease-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  transition: transform 0.5s ease-out;
}
